.password-input-container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 100%;
    margin-top: 2rem;
}

.password-input-container .wrapper { 
    position: relative; 
}

.password-input-container label { 
    text-align: start; 
    font-weight: 600; 
    color: #40484C; 
}

.password-input-container input {
    background-color: #E1E3E4;
    border: none;
    border-bottom: 3px solid #D7DBDD;
    padding: 1rem 5rem 1rem 2rem;
    font-size: 1.5rem;
    width: 100%;
}
.password-input-container input::placeholder { 
    font-size: 1.3rem; 
    color: #6B7280; 
}

.password-input-container .password-icon {
    position: absolute;
    right: 1.1rem;
    top: .7rem;
    color: #959da3;
    font-size: 2rem;
    padding: .3rem;
    cursor: pointer;
}
