.input-container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 100%;
    margin-top: 2rem;
}

.input-container .wrapper {
    position: relative;
}

.input-container .icon {
    position: absolute;
    right: 1.3rem;
    top: .9rem;
    font-size: 2rem;
    color: #959da3;
}

.input-container label {
    text-align: start;
    font-weight: 600;
    color: #40484C;
}

.input-container input {
    background-color: #E1E3E4;
    border: none;
    border-bottom: 3px solid #D7DBDD;
    padding: 1rem 5rem 1rem 1rem;
    font-size: 1.5rem;
    width: 100%;
}

.input-container input::placeholder {
    font-size: 1.3rem;
    color: #6B7280;
}