# Java
backend/target/
*.class

# React / CRA
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
